body {
    margin: 0;
    background-color: #f5f5f5;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 30px; /*66.6px*/
    font-size: 30px;
    color: hsl(0, 0%, 96%);
    background-color: hsl(120, 37.4%, 61.2%);
    padding: 1rem;
}

#title {
    display: inline-block;;
    /* font-size: 2.5rem; */
    /* font-weight: bold; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

#toggle-container {
    display: inline-block;
    width: auto;
    height: auto;
}

#toggle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1.75rem;
    height: auto;
    min-width: 31.75px;
    max-width: 34px;
    min-height: 24.5px;
    padding: 4px;
    border-width: 1px;
    border-radius: 8px;
    float: none;
    background: transparent;
}

#toggle img {
    display: block;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

nav {
    display: none;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    background-color: hsl(120, 37.4%, 61.2%);
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

nav li {
    list-style-type: none;
    /* margin-right: auto; */
    font-size: 1.75rem;
    width: fit-content;
    height: fit-content;

    a {
        color: hsl(0, 0%, 96%);
        text-decoration: none;
    }

    & :hover {
        color: hsl(0, 0%, 55%);
    }
}

article {
    padding-left: 1rem;
}